/* jeff.wilcox.name custom css
-------------------------------------------------- */

body {
    padding-bottom: 40px;
    /* padding-top: 70px; */
    /* padding-top: 90px; */
}

.navbar-inverse .navbar-inner {
  background-color: #595959;
  border-color: #595959;
}

code, pre {
    color: #333;
}

/*
h3 {
  font-size: 24.5px;
  color:  #777;
}
*/
/*
h1 {
    padding-bottom: 20px;
    font-size: 24pt;
}
*/
/*
h2 {
  font-size: 18pt;
}
*/

.nav-tabs > .active > a {
    background-color: #eee;
    color:  #333;
}

.nav-tabs > .active > a:hover {
    background-color: #eee;
    color:  #333;
}

.azure-nav-list {
    width: 228px;
    margin: 30px 0 0;
    padding: 0;
}

.azure-nav-list > li > a {
  display: block;
  width: 190px;
  margin: 0 0 -1px;
  padding: 4px 12px;
}

.azure-nav-list.affix {
  top: 40px;
}

.small-sections section {
    padding-top: 6px;
}

section {
    padding-top: 42px;
}

.twitter-cards > tbody > tr > td > h4,
.twitter-cards > tbody > tr > td > p {
    text-align: center;
}

.twitter-cards > tbody >tr > td {
    width: 33%;
}

.social {
  text-align: center;
}

.social-buttons {
  margin-left: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

.social-buttons li {
  display: inline-block;
  padding: 5px 8px;
  line-height: 1;
  *display: inline;
  *zoom: 1;
}

/* Make tables spaced out a bit more */
h2 + table,
h3 + table,
h4 + table,
h2 + .row {
  margin-top: 5px;
}

/* spy-based navigation system from bootstrap */

/* By default it's not affixed in mobile views, so undo that */
.wiki-sidebar.affix {
  position: static;
}
@media (min-width: 768px) {
  .wiki-sidebar {
    padding-left: 20px;
  }
}

/* First level of nav */
.wiki-sidenav {
  margin-top: 20px;
  margin-bottom: 20px;
}

/* All levels of nav */
.wiki-sidebar .nav > li > a {
  display: block;
  padding: 4px 20px;
  font-size: 13px;
  font-weight: 500;
  color: #999;
}
.wiki-sidebar .nav > li > a:hover,
.wiki-sidebar .nav > li > a:focus {
  padding-left: 19px;
  color: #0072C6;
  text-decoration: none;
  background-color: transparent;
  border-left: 1px solid #0072C6;
}
.wiki-sidebar .nav > .active > a,
.wiki-sidebar .nav > .active:hover > a,
.wiki-sidebar .nav > .active:focus > a {
  padding-left: 18px;
  font-weight: bold;
  color: #0072C6;
  background-color: transparent;
  border-left: 2px solid #0072C6;
}

/* Nav: second level (shown on .active) */
.wiki-sidebar .nav .nav {
  display: none; /* Hide by default, but at >768px, show it */
  padding-bottom: 10px;
}
.wiki-sidebar .nav .nav > li > a {
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 30px;
  font-size: 12px;
  font-weight: normal;
}
.wiki-sidebar .nav .nav > li > a:hover,
.wiki-sidebar .nav .nav > li > a:focus {
  padding-left: 29px;
}
.wiki-sidebar .nav .nav > .active > a,
.wiki-sidebar .nav .nav > .active:hover > a,
.wiki-sidebar .nav .nav > .active:focus > a {
  padding-left: 28px;
  font-weight: 500;
}

/* Back to top (hidden on mobile) */
.back-to-top {
  display: none;
  padding: 4px 10px;
  margin-top: 10px;
  margin-left: 10px;
  font-size: 12px;
  font-weight: 500;
  color: #999;
}
.back-to-top:hover {
  color: #0072C6;
  text-decoration: none;
}

@media (min-width: 768px) {
  .back-to-top {
    display: block;
  }
}

/* Show and affix the side nav when space allows it */
@media (min-width: 992px) {
  .wiki-sidebar .nav > .active > ul {
    display: block;
  }
  /* Widen the fixed sidebar */
  .wiki-sidebar.affix,
  .wiki-sidebar.affix-bottom {
    width: 213px;
  }
  .wiki-sidebar.affix {
    position: fixed; /* Undo the static from mobile first approach */
    top: 20px;
  }
  .wiki-sidebar.affix-bottom {
    position: absolute; /* Undo the static from mobile first approach */
  }
  .wiki-sidebar.affix-bottom .wiki-sidenav,
  .wiki-sidebar.affix .wiki-sidenav {
    margin-top: 0;
    margin-bottom: 0;
  }
}
@media (min-width: 1200px) {
  /* Widen the fixed sidebar again */
  .wiki-sidebar.affix-bottom,
  .wiki-sidebar.affix {
    width: 263px;
  }
}

/* IE10 bugs */
/*
@-webkit-viewport   { width: device-width; }
@-moz-viewport      { width: device-width; }
@-ms-viewport       { width: device-width; }
@-o-viewport        { width: device-width; }
@viewport           { width: device-width; }
*/
