<p>
  Jeff Wilcox is a principal software engineer at Microsoft.
    Jeff Wilcox is a principal software architect at Microsoft on the Azure team. Azure is
    Microsoft's cloud.
</p>

<p>
  Jeff's worked on many Microsoft products from the cloud to client and mobile platforms,
  most recently serving as an architect on the Microsoft Azure team to help ship the
  Microsoft Cloud.
</p>
<p>
  Jeff is on Twitter: <a href="https://twitter.com/jeffwilcox">@jeffwilcox</a> and
  GitHub as <a href="https://github.com/jeffwilcox">jeffwilcox</a>.
</p>