<p>
    Jeff Wilcox is a principal software architect at Microsoft on the Azure team. Azure is 
    Microsoft's cloud.
</p>

<p>
    Jeff has worked on many Microsoft projects crossing many discipline boundaries and 
    technologies, with an emphasis on open source and full stack development beyond the 
    traditional Microsoft ecosystem.
</p>
<p>
    Find out more at <a href="https://github.com/azure">https://github.com/azure</a>.
    <br />
    Jeff is on Twitter: <a href="https://twitter.com/jeffwilcox">@jeffwilcox</a>
</p>