<hr />

<footer class="wiki-footer">
  <p class="pull-right"><a href="#top">Back to top</a></p>
  <div class="links">
    <a href="/">jeff.wilcox.name</a> |
    <a href="https://twitter.com/jeffwilcox">@jeffwilcox</a> |
    <a href="https://github.com/jeffwilcox/">github.com/jeffwilcox</a> |
    <a href="http://linkedin.com/in/jeffreywilcox">linkedin profile</a> |
    <a href="http://www.google.com/recaptcha/mailhide/d?k=01Tv_GmcqyJ7mtRaeIIZEB4w==&c=PqTaC_u8CDIyO7wQDBRbQC1w7tGtyj-TDjnJupt4zLw=">email</a> |
    <a href="http://feeds.feedburner.com/jeffwilcox">rss</a>
  </div>
  <p><small>&copy; Jeff Wilcox<br />
  <span class="muted">Disclaimer: The content on this site represents my own personal opinions and thoughts at the time of posting, and does not reflect those of my employer in any way.</span></small></p>
</footer>
