    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="/">Jeff Wilcox</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li><a href="/">Home</a></li>
              <li><a href="/about/">About</a></li>
              <li><a href="/posts/">Posts</a></li>
              <li><a href="https://twitter.com/jeffwilcox">@jeffwilcox</a></li>
              <li><a href="https://github.com/jeffwilcox">//github.com/jeffwilcox</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>