#cloud a {
	margin:5px;
	white-space: nowrap;
	display:inline-block;
	font-weight:bold;
}
.l7 {font-size: 0.75em;color: #868282;}
.l6 {font-size: 1.0em;color: #3C363C;}
.l5 {font-size: 2em;color: #EB413F;}
.l4 {font-size: 3em;color: #FF3D77;}
.l3 {font-size: 4.0em;color: #FF65AB;}
.l2 {font-size: 5.0em;color: #DD5858;}
.l1 {font-size: 6.0em;color: #B14E4E;}
a, p, body, textarea, input {
	font-family:Calibri,Arial,sans-serif;
	text-decoration:none;
	font-size:12px;
}
a:hover {
	background-color:blue;
}
#cloud {
	display:block;
	background-color:yellow;
	position:absolute;
	top:0;
	bottom:30px;
	right:0;
	left:0;
}
#cloud a:hover {
	background-color:#ccc;
}
