<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% if page.title %}{{ page.title }} - Jeff Wilcox{% else %}Jeff Wilcox{% endif %}</title>
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <meta name="description" content="{{ page.description }}">
    <meta name="author" content="Jeff Wilcox">
    
    <link href="http://feeds.feedburner.com/jeffwilcox" rel="alternate" title="Jeff Wilcox" type="application/atom+xml" />

<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <script src="../assets/js/respond.min.js"></script>
<![endif]-->

    <link href="/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/css/jmw.css" rel="stylesheet"/>

    <link type="text/css" rel="stylesheet" href="{{ site.cdn }}syntax/styles/shCore.css"/>
    <link type="text/css" rel="stylesheet" href="{{ site.cdn }}syntax/styles/shThemeDefault.css"/>
  </head>
<body>

{% include toolbar.html %}

{{ content }}

<div class="container">  
{% include footer.html %}
</div><!-- /container -->

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
<script src="//js/bootstrap.min.js"></script>

<script src="{{ site.cdn }}syntax/scripts/shCore.js" type="text/javascript"></script>
<script src="{{ site.cdn }}syntax/scripts/shAutoloader.js" type="text/javascript"></script>
<script type="text/javascript">
function stxpath()
{
  var args = arguments, result = [];
  for(var i = 0; i < args.length; i++) {
      result.push(args[i].replace('@', '{{ site.cdn }}syntax/scripts/'));
  }
  return result;
};
SyntaxHighlighter.autoloader.apply(null, stxpath(
  'bash shell             @shBrushBash.js',
  'c# c-sharp csharp      @shBrushCSharp.js',
  'js jscript javascript  @shBrushJScript.js',
  'text plain             @shBrushPlain.js',
  'php                    @shBrushPhp.js',
  'py python              @shBrushPython.js',
  'ruby rails ror rb      @shBrushRuby.js',
  'vb vbnet               @shBrushVb.js',  
  'xml xhtml xslt html    @shBrushXml.js'
));
SyntaxHighlighter.defaults['gutter'] = false; //['gutter'] = false;
SyntaxHighlighter.defaults['tab-size'] = 2;
SyntaxHighlighter.defaults['class-name'] = 'code';
SyntaxHighlighter.all(); //'code', false, true: tag, showGutter, showControls
</script>
<!-- Google Analytics -->
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
var pageTracker = _gat._getTracker("UA-2695771-1");
pageTracker._trackPageview();
</script>
<!-- Google Analytics end -->
  </body>
</html>